.container {
  max-width: 750px;
  margin: 0 auto;
  padding: 20px;
}

.container .logo {
  width: 150px;
  height: auto;
}

.container h1 {
  font-size: 32px;
  margin: 20px 0;
}

.container h2 {
  font-size: 24px;
  margin: 20px 0;
}

.container p {
  font-size: 16px;
  margin: 20px 0;
}

@media screen and (max-width: 768px) {
  .container h1 {
    font-size: 24px;
  }
  .container h2 {
    font-size: 20px;
  }
  .container p {
    font-size: 14px;
  }
  .container .address {
    /* margin: 48px 0; */
    font-size: 18px;
    /* text-align: center; */
  }
  .container .address span {
    display: block;
  }
}

.footer {
  width: 100vw;
  height: 54px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.socialLinks li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.socialLinks li:last-child {
  margin-right: 0;
}

.socialLinks a {
	display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  padding-bottom: 7px;
  position: relative;
  overflow: hidden;
	line-height: 1;
	transition: all 0.3s;
}

.socialLinks a:focus,
.socialLinks a:active,
.socialLinks a:hover {
	color: #e45f74;
}

.socialLinks li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.2s;
	height: 2px;
	background: #f84982;
}

.socialLinks li a:hover:after {
  transform: translateX(101%);
}