.header,
.container {
  max-width: 616px;
  margin: 0 auto;
  padding: 20px;
}
.header {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.container {
  padding-top: 0;
  overflow: auto;
}

.header .logo {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.header h1 {
  font-size: 32px;
  margin-top: 20px;
}

.container h2 {
  font-size: 24px;
  color: #e5e1dd;
}

.container h2 {
  margin: 20px 0;
}

.container p {
  font-size: 20px;
  margin: 20px 0;
}

.map {
  width: 100%;
  height: 250px;
}

.dadosBancarios {
  width: fit-content;
  border-radius: 8px;
  padding: 8px 16px;
  background: #fff2;
}
.dadosBancarios p {
  margin: 8px 0;
}

.dadosBancarios p span {
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .header h1,
  .container h1 {
    font-size: 24px;
  }
  .container h2 {
    font-size: 20px;
  }
  .container p {
    font-size: 14px;
  }
  .container .address {
    font-size: 18px;
  }
  .container .address span {
    display: block;
  }
}

.footer {
  width: 100vw;
  height: 54px;
  display: flex;
  justify-content: center;
}

.socialLinks li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.socialLinks li:last-child {
  margin-right: 0;
}

.socialLinks a {
	display: inline-block;
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  padding-bottom: 7px;
  position: relative;
  overflow: hidden;
	line-height: 1;
	transition: all 0.3s;
}

.socialLinks a:focus,
.socialLinks a:active,
.socialLinks a:hover {
	color: #e45f74;
}

.socialLinks li a:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	transition: all 0.2s;
	height: 2px;
	background: #f84982;
}

.socialLinks li a:hover:after {
  transform: translateX(101%);
}